body {
    margin: 0px;
    font-family: 'segoe ui';
    /* Make Background Image the file in the paste images folder */
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#motivationalText {
    color: #ffffff;
    text-align: center;
    /* margin top to get at the center of the screen */
    margin-top: 20%;
    /* some margin left and right */
    margin-left: 10%;
    margin-right: 10%;
    /* shadow */
    text-shadow: 2px 2px 4px #000000;
}

#resume{
  /* Make a perforated line border */
  border: 1px dashed #fff;
  border-radius: 5px;
  border-radius: 10px;
  /* Give it some padding */
  padding: 10px;

}
.container {
    margin-top: 40%;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    height: 100vh;
    margin-bottom: 20%;
  }
  
  #aboutMe {
    /* Center the div */
    margin: auto;
    text-align: left;
    color: #060606;
    font-size: 20px;
    padding: 20px;
    /* Make a semi transparent background */
    background-color: rgba(54, 54, 54, 0.7);
    /* Make the background rounded */
    border-radius: 10px;
    /* Make the background shadowed */
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
  }
  #headerAboutMe {
    display: flex; 
    align-items: center;
  }
  /* If headerAboutMe is less then 1000px wide, make the text go below the image */
  @media screen and (max-width: 1000px) {
    #headerAboutMe {
      flex-direction: column;
      justify-content: center; 
      align-items: center;
    }
  }
  /* h1,h2 and p are all text white */
    h1,h2,p,li {
        color: #fff;
    }


    .aboutMe h2 {
        margin-top: 0;
        color: #fff;
    }
  
  .aboutMe p {
    margin-bottom: 0;
  }
  
  .photo {
    width: 30%;
    margin-right: 10%;
  }
  
  .photo img {
    display: block;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
  }